version: '3'
services:
  mysql:
    image: mysql:5.7.29
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always
    network_mode: host
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=spring-boot-mysql_db
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root

  redis:
    image: redis
    network_mode: host

  webapp:
    image: adoptopenjdk/openjdk11:alpine-jre
    depends_on:
      - mysql
      - redis
    volumes:
      - ./build/libs/spring-boot-mysql-0.0.1-SNAPSHOT.jar:/app/app.jar
    restart: always
    network_mode: host
    command: "java -jar /app/app.jar"

volumes:
  mysql_data: {}